{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="row justify-content-lg-center">
        <div class="col-4">
            <div class="shirt-item">
                 <input name="title" class="form-control" placeholder={{shirt.title}}>
                <br>
                <input name="description" class="form-control" placeholder={{shirt.description}}>
                <br>
                <label> {{shirt.creator}}</label>
                <label> Rating {{shirt.rating}}</label>
                <label class="value">{{shirt.value}}$</label>
            </div>
        </div>
    </div>
</div>
{% endblock content %}