{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="row justify-content-lg-center">
        <div class="col-10">
            <div class="shirt-item">
                <label class="title">{{shirt.title}}</label>
                <br>
                <label> {{shirt.description}}</label>
                <br>
                <label> {{shirt.creator}}</label>
                <label> Rating {{shirt.rating}}</label>
                <label class="value">{{shirt.value}}$</label>
            </div>
        </div>
    </div>
</div>
{% endblock content %}